wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TransServer" targetNamespace="http://example.com/sample.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/sample.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
    
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
	

    
	<wsdl:types>
		
       
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://example.com/sample.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
       
			<xsd:element name="InitiateTransfer">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="sessionId" type="xsd:string"/>
						<xsd:element name="msisdn" type="xsd:string"/>
						<xsd:element name="amount" type="xsd:string"/>
						<xsd:element name="language" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InitiateTransferResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="sessionId" type="xsd:string"/>
						<xsd:element name="responseCode" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		
    
	</wsdl:types>
	


	<wsdl:message name="InitiateTransferInput">
		<wsdl:part element="tns:InitiateTransfer" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="InitiateTransferOutput">
		<wsdl:part element="tns:InitiateTransferResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="TransServerPortType">
		<wsdl:operation name="InitiateTransfer">
			<wsdl:input message="tns:InitiateTransferInput"/>
			<wsdl:output message="tns:InitiateTransferOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TransServerBinding" type="tns:TransServerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="InitiateTransfer">
			<soap:operation soapAction="http://127.0.0.1:8050/InitiateTransfer" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TransServerService">
		<wsdl:documentation/>
		<wsdl:port binding="tns:TransServerBinding" name="TransServer">
			<soap:address location="http://127.0.0.1:8050/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>