soapfish/soap-server/stock.xml

<wsdl:definitions xmlns:sns="http://code.google.com/p/soapfish/stock.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://code.google.com/p/soapfish/stock.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://code.google.com/p/soapfish/stock.wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://code.google.com/p/soapfish/stock.xsd" elementFormDefault="unqualified">
      <xsd:complexType name="getStockPrice">
        <xsd:sequence>
          <xsd:element name="company" type="xsd:string" minOccurs="1" nillable="false"/>
          <xsd:element name="datetime" type="xsd:dateTime" minOccurs="1" nillable="false"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="stockPrice">
        <xsd:sequence>
          <xsd:element name="price" type="xsd:integer" minOccurs="1" nillable="false"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getStockPrice" type="sns:getStockPrice"/>
      <xsd:element name="stockPrice" type="sns:stockPrice"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetStockPriceInput">
    <wsdl:part name="body" element="sns:getStockPrice"/>
  </wsdl:message>
  <wsdl:message name="GetStockPriceOutput">
    <wsdl:part name="body" element="sns:stockPrice"/>
  </wsdl:message>
  <wsdl:portType name="ServicePortType">
    <wsdl:operation name="GetStockPrice">
      <wsdl:input message="tns:GetStockPriceInput"/>
      <wsdl:output message="tns:GetStockPriceOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceBinding" type="tns:ServicePortType">
    <wsdl:operation name="GetStockPrice">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <soap:operation soapAction="http://code.google.com/p/soapfish/stock/get_stock_price" style="document"/>
    </wsdl:operation>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServicePort" binding="tns:ServiceBinding">
      <soap:address location="http://127.0.0.1:8000/stock"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>